/*class for S1*/
.form-title {
  font-family: Lexend;
  color: #4B4E67;
  font-weight: 1000;
  text-align: center;
  padding: 20px;

}

/*class for S2*/
.bacsec {
  font-family: Lexend;
  color: #000000;
  font-weight: 500;
  text-align: center;
  padding: 30px;
}

/*class for S4*/
.form {
  max-width: 100%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  display: flex;
  border: none;
  border-radius: 35px;
}

/*classes for div/script section*/
.main-user-info {
  float: left;
  width: 100%;
  border: 3px solid rgba(152, 140, 151, 1);
  background-color: rgba(217, 217, 217, 0.5);
  color: rgb(0, 0, 0);
  padding: 20px;
}

.user-input-box {
  padding: 10px;
}

.buttons {
  padding: 10px;
  background-color: rgba(152, 140, 151, 1);
  border: none;
  color: rgb(0, 0, 0);
  font-weight: medium;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Lexend";
}

.email {
  font-family: Lexend;
  font-weight: 400;
  padding: 20px 12px 10px;
  margin: auto;
  text-align: justify;
}

.messages {
  font-family: Lexend;
  font-weight: 400;
  padding: 20px 12px 10px;
  margin: auto;
  text-align: justify;
}

.nameclass {
  font-family: Lexend;
  font-weight: 400;
  padding: 20px 12px 10px;
  margin: auto;
  text-align: justify;
}


input[type="email"] {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-weight: light;
  font-family: "Lexend";
  font-size: 12px;
}

input[type="text"] {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-weight: light;
  font-family: "Lexend";
  font-size: 12px;
}

input[type="messages"] {
  background-color: #ffffff;
  border: none;
  padding: 10px;
  box-sizing: border-box;
  font-weight: light;
  font-family: "Lexend";
  font-size: 12px;
}

/* Media Query for devices within 541px range */
@media (max-width:541px) {
  .bacsec {
    display: block;
    justify-content: center;
  }

  .form_info {
    text-align: center;
  }
}

/* Media Query for devices of 542px and above*/
@media (min-width:542px) and (max-width:3000px) {
  .contactInfo {
    padding-left: 30px;

  }

  .timings {
    padding-left: 30px;
  }
}